/* -- Theme -- */

* {
  --brand: hsl(200 100% 50%);
  --brand-hue: 200;
  --brand-saturation: 100%;
  --brand-lightness: 50%;

  --brand-light: hsl(
    var(--brand-hue) var(--brand-saturation) var(--brand-lightness)
  );
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);
  --text3-light: hsl(var(--brand-hue) 20% 99%);
  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: 0.02;
  --primary-light: rgb(25, 118, 210);
  --secondary-light: white;
  --error-light: #f44336;
  --theme-switcher-light: url("icons/moon-solid.svg");

  --brand-dark: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 2)
      calc(var(--brand-lightness) / 1.5)
  );
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --text3-dark: hsl(var(--brand-hue) 25% 90%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5% 20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: 0.2;
  --primary-dark: rgb(144, 202, 249);
  --error-dark: #d32f2f;
  --secondary-dark: black;
  --theme-switcher-dark: url("icons/sun-solid.svg");
}

:root {
  color-scheme: light;
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text3: var(--text3-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --primary: var(--primary-light);
  --error: var(--error-light);
  --secondary: var(--secondary-light);
  --theme-switcher: var(--theme-switcher-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --text3: var(--text3-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --primary: var(--primary-dark);
    --error: var(--error-dark);
    --secondary: var(--secondary-dark);
    --theme-switcher: var(--theme-switcher-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text3: var(--text3-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --error: var(--error-light);
  --theme-switcher: var(--theme-switcher-light);
}

[color-scheme="dark"] {
  color-scheme: dark;
  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --text3: var(--text3-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-secondary);
  --error: var(--error-dark);
  --theme-switcher: var(--theme-switcher-dark);
}

html {
  font-size: 14px;
  color: var(--text1);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--surface3);
}

/* -- Headings -- */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.618rem;
}

h3 {
  font-size: 1.236rem;
}

/* -- Buttons -- */

button:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--surface2);
  border: none;
  border-radius: 0.2rem;
  padding: 0.5em 1em 0.5em 1em;
}

.btn-primary:hover {
  opacity: 0.85;
}

.btn-primary:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 3px;
}

.btn-error {
  background-color: var(--error);
  color: var(--text3);
  border: none;
  border-radius: 0.2rem;
  padding: 0.5em 1em 0.5em 1em;
}

.btn-error:hover {
  opacity: 0.85;
}

.btn-error:focus-visible {
  outline: 2px solid var(--error);
  outline-offset: 3px;
}

.btn-info {
  background-color: var(--secondary);
  color: var(--text1);
  border: 1px solid var(--surface3);
  border-radius: 0.2rem;
  padding: 0.5em 1em 0.5em 1em;
}

.btn-info:hover {
  background-color: var(--surface3);
}

.btn-info:focus-visible {
  outline: 2px solid var(--surface3);
  outline-offset: 3px;
}

/* -- Input Elements -- */

input {
  box-sizing: border-box;
  border: 1px solid var(--text2);
  padding: 0.382rem 0.236rem 0.382rem 0.236rem;
}

input:focus-within {
  outline: 1px solid var(--text2);
  outline-offset: 2px;
}

/* -- Blocks -- */

/* Form */

.form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.328rem;
}

.form__item {
  display: flex;
  gap: 0.5rem;
  align-items: left;
  width: 100%;
  flex-direction: column;
}

.form__actions {
  display: flex;
  gap: 0.618rem;
  justify-content: right;
}

.form__label {
  font-size: 0.85rem;
}

.form__error {
  color: var(--error);
  font-size: 0.85rem;
}

.form__checkbox-item {
  display: flex;
  align-items: center;
  gap: 1.618rem;
  justify-content: space-between;
}

/* Login */

.login {
  width: fit-content;
  margin: 23.6vh auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--surface2);
  padding: 2rem;
}

.login__heading {
  font-size: 1.618rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.618rem;
}

.login__label {
  display: block;
  margin-bottom: 0.382rem;
}

.login__btn {
  margin-top: 0.618rem;
}

.login__link {
  text-align: center;
}

.login__input {
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--surface2);
  padding: 1.382rem;
  align-items: center;
}

.navbar__nav {
  display: flex;
  align-items: center;
  gap: 1.236rem;
}

.navbar__item {
  list-style: none;
}

/* Page */

.page {
  padding: 2rem 1.236rem 2rem 1.236rem;
  max-width: 60rem;
  margin: auto;
}

.page__title-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}

/* Table */

.table {
  width: 100%;
  background-color: var(--surface2);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.table__header {
  background-color: var(--surface4);
  text-align: left;
}

.table th {
  font-weight: bold;
}

.table th,
.table td {
  padding: 0.5rem;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid var(--surface3);
}

.table__actions {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.table__link {
  display: inline-block;
  width: fit-content;
}

/* Theme Switcher */

#theme-switcher {
  height: 1rem;
  width: 1rem;
  background-image: var(--theme-switcher);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* -- Utility Classes -- */

.elevated {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.error {
  border: 1px solid var(--error);
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}
