<%
  const has_fields = typeof fields != 'undefined';
  const password = has_fields ? fields.password : null;
%>

<form class="form" hx-post="/change-password">
  <div class="form__item">
    <label for="password">New Password</label>
    <input 
      name="password" 
      type="password"
      class="<%=password?.error?' error':null%>" 
      value="<%=password?.value%>" 
      maxlength="255" 
    />
    <div class="form__error"><%=password?.error%></div>
  </div>
  <div class="form__actions">
    <button class="form__btn btn-primary elevated" type="submit">
      Save
    </button>
  </div>
</form>