<nav class="navbar">
  <a class="navbar__brand" href="/">Express App Template</a>
  <ul class="navbar__nav">
    <li class="navbar__item">
      <a class="navbar__link" href="/users">Users</a>
    </li>
    <li class="navbar__item">
      <div id="theme-switcher"></div>
    </li>
    <li class="navbar__item">
      <button class="btn-primary" hx-delete="/logout">Logout</button>
    </li>
  </ul>
</nav>
