<%
  const has_fields = typeof fields != 'undefined';
  const password = has_fields ? fields.password : null;
%>

<form class="login elevated" hx-post="/reset-password/<%= token %>" hx-swap="outerHTML">
  <h1 class="login__heading">Reset password</h1>
  <div>
    <label for="password" class="login__label">New password</label>
    <input 
      name="password"
      type="password"
      class="login__input<%=password?.error?' error':null%>" 
      maxlength="20"
      required
      value="<%=password?.value%>" 
    />
  </div>
  <button class="login__btn btn-primary elevated" type="submit">Reset password</button>
</form>