<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main class="page">
      <div class="page__title-area">
        <h1>New User</h1>
      </div>
      <%- include("../partials/user_create"); %>
    </main>
  </body>
</html>